<html>

<head>

<title>Log Water Test</title>

<style>

body{
background:#020617;
color:white;
font-family:Arial;
padding:30px;
}

.card{
background:#0f172a;
padding:20px;
border-radius:10px;
width:400px;
}

input{
width:100%;
padding:8px;
margin-bottom:10px;
}

button{
background:#38bdf8;
border:none;
padding:10px;
border-radius:6px;
}

</style>

</head>

<body>

<a href="/logout"><button>Logout</button></a>

<div class="card">

<h2>Log Water Test</h2>

<form action="/add-test/{{ tank_id }}" method="post">

Ammonia
<input name="ammonia">

Nitrite
<input name="nitrite">

Nitrate
<input name="nitrate">

pH
<input name="ph">

Temperature
<input name="temperature">

<button type="submit">Save</button>

</form>

</div>

</body>

</html>
