<html>

<head>

<title>AquaGuardian</title>

<style>

body{
background:#020617;
color:white;
font-family:Arial;
padding:30px;
}

.container{
max-width:500px;
margin:auto;
background:#0f172a;
padding:30px;
border-radius:10px;
}

input{
width:100%;
padding:10px;
margin-bottom:15px;
border-radius:5px;
border:none;
}

button{
background:#38bdf8;
border:none;
padding:10px;
border-radius:6px;
cursor:pointer;
width:100%;
}

a{
color:#38bdf8;
text-decoration:none;
}

</style>

</head>

<body>

<h1>AquaGuardian</h1>

<div class="container">

<h2>Log Water Test</h2>

<form method="post" action="/add-test/{{ tank_id }}">

<label>Ammonia (ppm)</label>
<input type="text" name="ammonia" required>

<label>Nitrite (ppm)</label>
<input type="text" name="nitrite" required>

<label>Nitrate (ppm)</label>
<input type="text" name="nitrate" required>

<label>pH</label>
<input type="text" name="ph" required>

<label>Temperature (°C)</label>
<input type="text" name="temperature" required>

<button type="submit">Save Water Test</button>

</form>

<br>

<a href="/tank/{{ tank_id }}">← Back to Tank</a>

</div>

</body>

</html>
