<html>

<head>
<title>AquaGuardian</title>
</head>

<body>

<h2>Create Aquarium</h2>

<form method="post" action="/create-tank">

<label>Name</label>
<input name="name">

<label>Volume (Litres)</label>
<input type="number" name="volume">

<label>Tank Type</label>

<select name="tank_type">

<option value="Freshwater">Freshwater</option>
<option value="Marine">Marine</option>
<option value="Brackish">Brackish</option>

</select>

<br><br>

<button type="submit">Create Tank</button>

</form>

</body>

</html>
