<html>

<head>

<title>AquaGuardian</title>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>

body{
background:#020617;
color:white;
font-family:Arial;
padding:30px;
}

.header{
display:flex;
justify-content:space-between;
}

.title{
color:#38bdf8;
font-size:26px;
}

button{
background:#38bdf8;
border:none;
padding:10px;
border-radius:6px;
}

</style>

</head>

<body>

<div class="header">

<div class="title">AquaGuardian</div>

<a href="/logout"><button>Logout</button></a>

</div>

<h1>{{ tank.name }}</h1>

<p>{{ tank.volume }}L Aquarium</p>

<a href="/dashboard"><button>Back</button></a>

<a href="/add-test/{{ tank.id }}"><button>Log Water Test</button></a>

<br><br>

<h2>Nitrogen Cycle</h2>

<canvas id="chart"></canvas>

<script>

const ammonia = {{ ammonia }};
const nitrite = {{ nitrite }};
const nitrate = {{ nitrate }};
const labels = {{ dates }};

new Chart(document.getElementById('chart'),{

type:'line',

data:{

labels:labels,

datasets:[

{label:'Ammonia',data:ammonia,borderColor:'#ef4444'},

{label:'Nitrite',data:nitrite,borderColor:'#3b82f6'},

{label:'Nitrate',data:nitrate,borderColor:'#22c55e'}

]

}

})

</script>

</body>

</html>
